* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  background: #f7f8fb;
  font-family: Avenir-Book;
  font-size: 13px;
  line-height: 22px;
  overflow: hidden; }

.button {
  padding: 1em 1.5em;
  border-radius: 0.35em;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.4s ease-in-out; }

.button_blue {
  background: #50bbf2;
  color: #FFFFFF; }
  .button_blue:hover {
    background: #0f8ccd; }

.button_download {
  background: #cedce4;
  color: #FFFFFF; }
  .button_download:hover {
    background: #8cadc0; }

#sidebar {
  position: fixed;
  left: 100px;
  top: 100px;
  background: transparent;
  width: 300px; }
  #sidebar .title {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.35;
    color: #393f42;
    margin: 3em 0; }
  #sidebar .info .input, #sidebar .info .description {
    margin: 0; }
  #sidebar .info .input {
    font-size: 1.35em;
    color: #727678;
    margin-top: 1.25em; }
  #sidebar .info .description {
    font-size: 0.85em;
    font-weight: 700;
    color: #393f42; }
  #sidebar .info hr {
    width: 2em;
    height: 0;
    border-top: 2px solid #dfe0e6;
    margin: 3em 0; }

#chat {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 250px 150px 550px;
  overflow: scroll; }
  #chat::-webkit-scrollbar {
    display: none; }
  #chat .bubble {
    margin-bottom: 3em; }
    #chat .bubble::before, #chat .bubble::after {
      content: "";
      display: table; }
    #chat .bubble::after {
      clear: both; }
    #chat .bubble .content {
      background: #FFFFFF;
      box-shadow: 0px 9px 30px 0px rgba(44, 46, 73, 0.08);
      border-radius: 26px 26px 26px 2px;
      max-width: 80%;
      display: inline-block; }
      #chat .bubble .content::before, #chat .bubble .content::after {
        content: "";
        display: table; }
      #chat .bubble .content::after {
        clear: both; }
      #chat .bubble .content .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        float: left;
        margin: 2em; }
        #chat .bubble .content .avatar img {
          height: 100%; }
      #chat .bubble .content .copy {
        font-size: 1.1em;
        line-height: 1.75;
        color: #727678;
        padding: 1.5em;
        margin: 0; }
    #chat .bubble .time {
      font-weight: 700;
      font-size: 0.8em;
      clear: both; }
  #chat .bubble.client {
    float: right; }
    #chat .bubble.client .content {
      background: #fafbff;
      border-radius: 26px 26px 2px 26px;
      text-align: right;
      float: right; }
      #chat .bubble.client .content .avatar {
        float: right; }
    #chat .bubble.client .time {
      text-align: right; }
  #chat .bubble.attachment {
    width: 100%;
    position: relative;
    margin: 5em 0; }
    #chat .bubble.attachment .preview {
      width: 15em;
      border-radius: 0.5em;
      overflow: hidden;
      box-shadow: 0px 9px 30px 0px rgba(50, 56, 107, 0.25);
      position: absolute;
      left: 2em;
      bottom: 2em; }
      #chat .bubble.attachment .preview img {
        width: 100%; }
    #chat .bubble.attachment .content {
      max-width: 100%;
      width: 100%;
      min-height: 22em;
      padding: 2em 5em 2em 20em; }
      #chat .bubble.attachment .content .title {
        font-size: 21px;
        color: #393F42;
        letter-spacing: 0px;
        font-weight: 400; }
      #chat .bubble.attachment .content .description {
        font-size: 1.1em;
        color: #727678;
        line-height: 1.75; }
      #chat .bubble.attachment .content .buttons_wrapper {
        margin-top: 3em; }
        #chat .bubble.attachment .content .buttons_wrapper .button {
          margin-right: 1em; }
    #chat .bubble.attachment .icon {
      position: absolute;
      right: 2em;
      top: 2em; }
  #chat #input {
    width: 100%;
    position: relative; }
    #chat #input .avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      overflow: hidden;
      float: left;
      position: absolute;
      left: 2em;
      top: 2em; }
      #chat #input .avatar img {
        height: 100%; }
    #chat #input textarea {
      background: #FFFFFF;
      box-shadow: 0px 9px 30px 0px rgba(44, 46, 73, 0.08);
      border-radius: 26px 26px 26px 2px;
      border: none;
      width: 100%;
      height: 9em;
      padding: 2.5em 2em 2em 6em;
      font-size: 1.1em; }
